body {
    font-family: "Helvetica", Arial, sans-serif;
    color: #575757;
    overflow-x: hidden;
}


a, button { transition: all .3s ease-in-out; }
a:hover { text-decoration: none; }



/* bloc layout */
.bloc {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0 50px;
}

.bloc-lg { padding: 100px 50px; }
.bloc-md { padding: 50px; }
.bloc-sm { padding: 20px 50px; }

@media (max-width: 767px) {
    .bloc { padding: 40px 10px; }
    .bloc-lg, .bloc-md { padding: 40px 0; }
}

/* texture x effets */
.bloc-bg-texture::before {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.texture-paper::before {
    background: url("../img/texture-paper.png");
    background-size: 280px 280px;
}


/* icones */
.icon-md { 
    font-size: 30px !important; 
}

.icon-lg { 
    font-size: 60px !important; 
}

.icons {
    margin-top: 24px;
    margin-bottom: 14px;
}   

.b-parallax { background-attachment: fixed; }

/* personnalisation couleur */
.bgc-white { background-color: #FFFFFF; }
.bgc-atomic-tangerine { background-color: #F3976C; }
.bgc-dark-slate-blue { background-color: #364577; }

.tc-white, .white { color: #FFFFFF !important; }
.tc-atomic-tangerine { color: #F3976C !important; }

.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF !important;
}

.btn-atomic-tangerine:hover {
    background: #c27956 !important;
}

/* ajustement */
.navbar-brand img { height: 40px; }

.hero-bloc-text { font-size: 38px; font-weight: 700; }

.tight-width-whitespace {
    max-width: 600px;
    margin: auto;
}

.social .icon-md { font-size: 30px; color: #FFF !important; }

/* utilitaires */
.voffset-lg { margin-top: 80px; }
.mg-md { margin-bottom: 20px; }
.bold-link { font-weight: 900; text-decoration: underline !important; }


/* imgs de fond */

.bg-dots-bg { 
    background-image: url("../img/dots-bg.webp"); 
}

.bg-lines-h2-bg { 
    background-image: url("../img/lines-h2-bg.png"); 
}

.bg-banniere { 
    background-image: url("../img/agence-la-panthere.webp"); 
}

.bg-presentation { 
    background-image: url("../img/image-de-presentation.webp"); 
}

/* aspect grain texture papier */
.texture-paper::before {
    background: url("../img/texture-paper.png");
    background-size: 280px 280px;
}